<section tal:condition="php: user['is_super'] EQ 1">
    <h2>Quản lí dự án</h2>
    <ul>
        <li><a href="/admin/projects/">Danh sách</a></li>
        <li><a href="/admin/projects/edit">Thêm dự án</a></li>
    </ul>
</section>

<section>
    <h2>Quản lí tin đăng</h2>
    <ul>
        <li><a href="/admin/message/">Danh sách</a></li>
        <li><a href="/admin/message/edit">Thêm tin</a></li>
    </ul>
</section>

<section tal:condition="php: user['is_super'] EQ 1">
    <h2>Tin tuyển dụng</h2>
    <ul>
        <li><a href="/admin/recruitment">Danh sách</a></li>
        <li><a href="/admin/recruitment/edit">Thêm tin</a></li>
    </ul>
</section>

<section tal:condition="php: user['is_super'] EQ 1">
    <h2>Quản lí tài khoản</h2>
    <ul>
        <li><a href="/admin/user/">Danh sách user</a></li>
        <li><a href="/admin/user/edit/">Thêm user</a></li>
    </ul>
</section>

<section>
    <h2>Tài khoản</h2>
    <ul>
        <li><a href="/admin/player/">Profile</a></li>
        <li><a href="/admin/player/changepwd">Đổi mật khẩu</a></li>
    </ul>
</section>

<section tal:condition="php: user['is_super'] EQ 1">
<h2>Quản lí cài đặt</h2>
<ul>
    <li><a href="/admin/setting">Cài đặt trang</a></li>
</ul>
</section>


