<section tal:condition="php: user['is_super'] EQ 1">
    <h2>Quản lí dự án</h2>
    <ul>
        <li><a href="/admin/projects/">Danh sách</a></li>
        <li><a href="/admin/projects/edit">Thêm dự án</a></li>
    </ul>
</section>

<section>
    <h2>Quản lí tin đăng</h2>
    <ul>
        <li><a href="/admin/message/">Danh sách</a></li>
        <li><a href="/admin/message/edit">Thêm tin</a></li>
    </ul>
</section>

<section tal:condition="php: user['is_super'] EQ 1">
    <h2>Tin tuyển dụng</h2>
    <ul>
        <li><a href="/gallery">Danh sách</a></li>
        <li><a href="/gallery/upload">Thêm tin</a></li>
    </ul>
</section>

<section tal:condition="php: user['is_super'] EQ 1">
    <h2>Quản lí tài khoản</h2>
    <ul>
        <li><a href="/video">Danh sách user</a></li>
        <li><a href="/video">Profile</a></li>
        <li><a href="/video/upload">Đổi mật khẩu</a></li>
    </ul>
</section>

<section tal:condition="php: user['is_super'] EQ 1">
<h2>Quản lí cài đặt</h2>
<ul>
    <li><a href="/tag">Cài đặt trang</a></li>
    <li><a href="/tag/edit">Cài đặt SNS</a></li>
</ul>
</section>

<!--<section tal:condition="php: user['is_super'] EQ 1">-->
    <!--<h2>コメント管理</h2>-->
    <!--<ul>-->
        <!--<li><a href="/comment">一覧</a></li>-->
        <!--<li><a href="/comment/Ng/index">NGワード設定（一覧）</a></li>-->
    <!--</ul>-->
<!--</section>-->

<!--<section tal:condition="php: user['is_super'] EQ 1">-->
    <!--<h2>マクロ・ウィジェット管理</h2>-->
    <!--<ul>-->
        <!--<li><a href="/customer/">一覧</a></li>-->
        <!--<li><a href="/customer/edit">新規登録</a></li>-->
    <!--</ul>-->
<!--</section>-->


<!--<section tal:condition="php: user['is_super'] EQ 1">-->
    <!--<h2>会員管理</h2>-->
    <!--<ul>-->
        <!--<li><a href="/customer/">一覧</a></li>-->
        <!--<li><a href="/customer/edit">新規登録</a></li>-->
    <!--</ul>-->
<!--</section>-->

<!--<section tal:condition="php: user['is_super'] EQ 1">-->
    <!--<h2>設定管理</h2>-->
    <!--<ul>-->
        <!--<li><a href="/setting/site">一覧</a></li>-->
        <!--<li><a href="/setting/profile">新規登録</a></li>-->
    <!--</ul>-->
<!--</section>-->


