@font-face {
	font-family: 'UTM_Bebas'; /*a name to be used later*/
	src: url('/site/fonts/UTM Bebas.ttf'); /*URL to font*/
}

body
{
	margin: 0;
	padding: 0;
	color: #555;
	font: normal 10pt Arial,Helvetica,sans-serif;
	background: #EFEFEF;
}

#page
{
	margin-top: 5px;
	margin-bottom: 5px;
	background: white;
	border: 1px solid #06C; /*#C9E0ED;*/
}

#header
{
	margin: 0;
	padding: 0;
	border-top: 3px solid #06C;
	background: #06C;
}

#carousel-example-generic{
	width: 840px;
	height: 422px;
	float: left;
	overflow: hidden;
	top: 10px;
	left: 10px;
}

.slide {
	width: 1160px;
	position: relative;
	height: 435px;
}

.slide-image {
	width: 100%;
}

.slide-right, #main-sidebar{
	width: 320px;
/*	background: #000000;*/
	float: left;
	padding: 10px;
	position: relative;
	left: 10px;
}

.slide-right {
	height: 350px;
}


.news-place, .box-item-sidebar{
	padding: 0;
	margin: 0;
	position: relative;
}

.news-place {
	height: 180px;
}

#main-sidebar {
	padding: 0;
	width: 300px;
	/*border: 1px solid #d6d6d6;*/
}

.title-global {
	position: relative;
	margin-bottom: 10px;
	font-weight: bold;
	line-height: 30px;
	background: linear-gradient(to bottom, #2AB5FE 0%, #24A9F5 21%, #0B7BD4 73%, #0169C7 100%) repeat scroll 0% 0% transparent;
	padding: 5px 0px;
	height: 33px;
}

.title-global img{
	position: relative;
	float: left;
	left: 5px;
	top: 0px;
}

.title-global h3{
	font-size: 22px;
	color: #FFF;
	text-shadow: 0px 2px 2px rgba(150, 150, 150, 0.46);
	padding: 0px;
	margin: 0px;
	text-align: center;
	top: 2px;
	font-family: UTM_Bebas;
	line-height: 15px;
	position: relative;
	bottom: 2px;
}

 .news-place .news-name a, .box-item-sidebar .news-name a{
	font-size: 15px;
	color: #111;
	font-weight: bold;
}

.news-place .news-image, .box-item-sidebar .news-image{
	font-size: 16px;
	color: #111;
	font-weight: bold;
	float: left;
	width: 105px;
	height: 95px;
	margin-right: 5px;
}

.news-place .news-desc, .box-item-sidebar .news-desc{
	font-size: 16px;
	color: #111;
	margin-top: -3px;
	width: 190px;
	height: 95px;
	float: left;
	overflow: hidden;
}


#main-content
{
	clear: both;
	width: 100%;
	padding-top: 20px;
	min-height: 1200px;
}

#content
{
    padding: 20px;
	padding-top: 0;
	left: 10px;
	position: relative;
	float: left;
	width: 850px;
}

#sidebar
{
	padding: 20px 20px 20px 0;
	height:auto;
}

#slide-footer{
	width: 100%;;
	clear: both;
	position: relative;
	margin-top: 20px;
}

.home-title{
	font-family: "sfueurostileregular-webfont",sans-serif;
	font-size: 18px;
	font-weight: bold;
	color: #0169C7 ;
	text-transform: uppercase;
}

#silde-footer .home-title{
	display: block;
	padding: 5px 20px;
}


#carousel {
	width: 1168px;
	height: 175px;
	overflow: hidden;
}

.item-slide{
	width: 365px;
	padding: 10px;
	height: 200px;
	overflow: hidden;
	display: block;
	clear: both;
}

.item-slide a img{
	width: 120px;
	height: 90px;
	display: block;
	float: left;
}

.item-slide h3 {
	font-family: "sfueurostileregular-webfont",sans-serif;
	font-size: 14px;
	font-weight: bold;
	text-transform: uppercase;
	display: block;
	float: left;
	width: 220px;
	padding: 0px;
	padding-left: 10px;
	overflow: hidden;
}

.item-slide p{
	font-family: "sfueurostileregular-webfont",sans-serif;
	font-size: 12px;
	display: block;
	float: left;
	width: 220px;
	padding: 0px;
	padding-left: 10px;
	overflow: hidden;
}

#footer
{
	/*padding: 10px;*/
	/*margin: 10px 20px;*/
	font-size: 0.8em;
	height: 162px;
	/*text-align: center;*/
	border-top: 1px solid #C9E0ED;
}

.l-footer{
	width: 690px;
	float: left;
	position: relative;
	margin-left: 20px;
	margin-top: 25px;
}

.r-footer{
	width: 440px;
	position: relative;
	font-size: 14px;
	float: right;
	margin-top: 59px;
	margin-right: 10px;
}

#logo
{
	padding: 10px 20px;
	font-size: 200%;
}

#mainmenu
{
	background:white url('../images/site/nav-bg.png') repeat-x left top;
	/*background: linear-gradient(to bottom, #2AB5FE 0%, #24A9F5 21%, #0B7BD4 73%, #0169C7 100%) repeat scroll 0% 0% transparent;
	height: 30px;*/
}

#mainmenu ul
{
	padding:6px 20px 5px 20px;
	margin:0px;
}

#mainmenu ul li
{
	display: inline;
}

#mainmenu ul li a
{
	color:#ffffff;
	background-color:transparent;
	font-size:16px;
	font-weight:bold;
	text-decoration:none;
	padding:5px 8px;
}

#mainmenu ul li a:hover, #mainmenu ul li.active a
{
	color: #6399cd;
	background-color:#ffffff;
	text-decoration:none;
}

div.flash-error, div.flash-notice, div.flash-success
{
	padding:.8em;
	margin-bottom:1em;
	border:2px solid #ddd;
}

div.flash-error
{
	background:#FBE3E4;
	color:#8a1f11;
	border-color:#FBC2C4;
}

div.flash-notice
{
	background:#FFF6BF;
	color:#514721;
	border-color:#FFD324;
}

div.flash-success
{
	background:#E6EFC2;
	color:#264409;
	border-color:#C6D880;
}

div.flash-error a
{
	color:#8a1f11;
}

div.flash-notice a
{
	color:#514721;
}

div.flash-success a
{
	color:#264409;
}

div.form .rememberMe label
{
	display: inline;
}

div.view
{
	padding: 10px;
	margin: 10px 0;
	border: 1px solid #C9E0ED;
}

div.breadcrumbs
{
	font-size: 1.2em;
	padding: 5px 20px;
	width: 100%;
}

div.breadcrumbs a:first-child:before {
	content: url('/site/images/site/icon_top.png');
	padding-right: 5px;
}

div.breadcrumbs span
{
	font-weight: bold;
}

div.search-form
{
	padding: 10px;
	margin: 10px 0;
	background: #eee;
}

.portlet
{

}

.portlet-decoration
{
	padding: 3px 8px;
	background: #B7D6E7;
	border-left: 5px solid #6FACCF;
}

.portlet-title
{
	font-size: 12px;
	font-weight: bold;
	padding: 0;
	margin: 0;
	color: #298dcd;
}

.portlet-content
{
	font-size:0.9em;
	margin: 0 0 15px 0;
	padding: 5px 8px;
	background:#EFFDFF;
}

.portlet-content ul
{
	list-style-image:none;
	list-style-position:outside;
	list-style-type:none;
	margin: 0;
	padding: 0;
}

.portlet-content li
{
	padding: 2px 0 4px 0px;
}

.operations
{
	list-style-type: none;
	margin: 0;
	padding: 0;
}

.operations li
{
	padding-bottom: 2px;
}

.operations li a
{
	font: bold 12px Arial;
	color: #0066A4;
	display: block;
	padding: 2px 0 2px 8px;
	line-height: 15px;
	text-decoration: none;
}

.operations li a:visited
{
	color: #0066A4;
}

.operations li a:hover
{
	background: #80CFFF;
}