<div tal:replace="structure php:CHtml::statefulForm('','post',array('id'=>'article'))"/>

<div tal:condition="exists:contentUser/id">
    <h1>Chỉnh sữa thông tin cá nhân</h1>
    <article>
        <p>
            Sau khi nhập các thông tin cần thiết, bạn hãy click vào nút Save.
        </p>
    </article>
</div>
<aside>
    <p>※<span class="txtWarning">*</span>Hãy nhập đầy đủ thông tin.</p>
</aside>

<div class="messageBox">
    <p class="txtWarning">
        <strong tal:condition="msg">Thao tác hoàn thành</strong>
    </p>
</div>

<div class="columnContainer">
    <div class="tabBox">
        <input type="hidden" name="contentUser[id]" value="${contentUser/id|''}"/>

        <div class="mBoxitem_table">
            <table cellpadding="0" cellspacing="0" border="0" class="tableTate">
                <tr>
                    <th>Tên hiển thị&nbsp;<span class="txtWarning">*</span></th>
                    <td>
                        <tal:block tal:content="structure php:CHtml::error(contentUser,'name')"/>
                        <input type="text" name="user[name]" maxlength="100" value="${contentUser/name|''}"  class="txtbox title txt_en" style="width:300px;" id="title" />
                    </td>
                </tr>

                <tr>
                    <th>Phone&nbsp;<span class="txtWarning">*</span></th>
                    <td>
                        <tal:block tal:content="structure php:CHtml::error(contentUser,'phone')"/>
                        <input type="text" name="user[phone]" maxlength="100" value="${contentUser/phone|''}"  class="txtbox title txt_en" style="width:300px;" id="title" />
                    </td>
                </tr>

                <tr>
                    <th>email&nbsp;<span class="txtWarning">*</span></th>
                    <td>
                        <tal:block tal:content="structure php:CHtml::error(contentUser,'email')"/>
                        <input type="text" name="user[email]" maxlength="100" value="${contentUser/email|''}"  class="txtbox title txt_en" style="width:300px;" id="title" />
                    </td>
                </tr>

                <tr>
                    <th>Địa chỉ&nbsp;<span class="txtWarning">*</span></th>
                    <td>
                        <tal:block tal:content="structure php:CHtml::error(contentUser,'address')"/>
                        <input type="text" name="user[address]" maxlength="100" value="${contentUser/address|''}"  class="txtbox title txt_en" style="width:300px;" id="title" />
                    </td>
                </tr>

            </table>
        </div>
    </div>

</div>

<div class="BtnArea">
    <div class="BtnAreaitem">
        <tal:block class="BtnAreaitem" tal:content="structure php:CHtml::submitButton('Save',array('name' => 'commit','class'=>'btnMiddle themeNormal'))"/>
        <input class="btnMiddle themeNormal" type="button" title="Cancel" value="Cancel" onclick="window.location.href='/admin/';"/>
    </div>
</div>
