<nav id="topicPath" metal:define-macro="index">
  <ul>
   <li class="top"><a href="/admin/">Home</a></li>
   <li>Thêm dự án</li>
  </ul>
 </nav>
<nav id="topicPath" metal:define-macro="view">
  <ul>
   <li class="top"><a href="/admin/">トップ</a></li>
   <li><a href="/customer">会員一覧</a></li>
   <li>会員詳細</li>
  </ul>
 </nav>
<nav id="topicPath" metal:define-macro="edit">
  <ul>
   <li class="top"><a href="/admin/">トップ</a></li>
   <li ><a href="/customer">会員一覧</a></li>
   <li ><a href="/customer/view">会員詳細</a></li>
   <li >会員新規登録</li>
   <li >会員編集</li>
  </ul>
 </nav>
<nav id="topicPath" metal:define-macro="password">
  <ul>
   <li class="top"><a href="/">トップ</a></li>
   <li><a href="/customer">会員一覧</a></li>
   <li ><a href="/customer/view">会員詳細</a></li>
   <li>パスワード編集</li>
  </ul>
 </nav>