<nav id="topicPath" metal:define-macro="search">
    <ul>
        <li class="top"><a href="/admin/">Home</a></li>
        <li>Quản lí dựa án</li>
    </ul>
</nav>
<nav id="topicPath" metal:define-macro="index">
    <ul>
        <li class="top"><a href="/admin/">Home</a></li>
        <li ><a href="/admin/project/">Danh sách dự án</a></li>
        <li>Tìm kiếm</li>
    </ul>
</nav>
<nav id="topicPath" metal:define-macro="view">
  <ul>
      <li class="top"><a href="/admin/">Home</a></li>
      <li ><a href="/admin/project/">Danh sách dự án</a></li>
      <li >Chi tiết</li>
  </ul>
 </nav>
<nav id="topicPath" metal:define-macro="edit">
    <ul>
        <li class="top"><a href="/admin/">Home</a></li>
        <li ><a href="/admin/project/">Danh sách dự án</a></li>
        <li tal:condition="exists:contentProject/id"><a  href="/admin/project/view?id=${contentProject/id}">Chi tiết</a></li>
        <li tal:condition="not: exists:contentProject/id">Thêm mới dự án</li>
    </ul>
</nav>
