<div>
    <h2 class="home-title" style="margin-left: 15px;">Dự án</h2>
</div>

<div class="top-news" style="height: 145px;">
    <div class="top-item">
        <h2 class="text-left"><a href="/site/content/view?cat=1&id=1">Diamond Island căn hộ đẳng cấp </a></h2>
        <div class="top-img">
            <a href="/site/content/view?cat=1&id=1"><img src="${params/siteUrl}/images/upload/3088081.jpg" alt=""/></a>
        </div>
        <div class="top-info">
            <h3> Đăng bởi admin lúc 18-12-2014</h3>
            <p>Giao nhà thô hoặc giao nhà hoàn thiện cơ bản hoặc giao nhà hoàn thiện đầy đủ Tùy theo nhu cầu của khách hàng</p>
        </div>
    </div>
</div>

<div class="top-news" style="height: 145px;">
    <div class="top-item">
        <h2 class="text-left"><a href="/content/view?cat=1&id=1">Diamond Island căn hộ đẳng cấp </a></h2>
        <div class="top-img">
            <a href="/content/view?cat=1&id=1"><img src="${params/siteUrl}/images/upload/3088081.jpg" alt=""/></a>
        </div>
        <div class="top-info">
            <h3> Đăng bởi admin lúc 18-12-2014</h3>
            <p>Giao nhà thô hoặc giao nhà hoàn thiện cơ bản hoặc giao nhà hoàn thiện đầy đủ Tùy theo nhu cầu của khách hàng</p>
        </div>
    </div>
</div>

<div class="top-news" style="height: 145px;">
    <div class="top-item">
        <h2 class="text-left"><a href="/content/view?cat=1&id=1">Diamond Island căn hộ đẳng cấp </a></h2>
        <div class="top-img">
            <a href="/content/view?cat=1&id=1"><img src="${params/siteUrl}/images/upload/3088081.jpg" alt=""/></a>
        </div>
        <div class="top-info">
            <h3> Đăng bởi admin lúc 18-12-2014</h3>
            <p>Giao nhà thô hoặc giao nhà hoàn thiện cơ bản hoặc giao nhà hoàn thiện đầy đủ Tùy theo nhu cầu của khách hàng</p>
        </div>
    </div>
</div>

<div class="top-news" style="height: 145px;">
    <div class="top-item">
        <h2 class="text-left"><a href="/content/view?cat=1&id=1">Diamond Island căn hộ đẳng cấp </a></h2>
        <div class="top-img">
            <a href="/content/view?cat=1&id=1"><img src="${params/siteUrl}/images/upload/3088081.jpg" alt=""/></a>
        </div>
        <div class="top-info">
            <h3> Đăng bởi admin lúc 18-12-2014</h3>
            <p>Giao nhà thô hoặc giao nhà hoàn thiện cơ bản hoặc giao nhà hoàn thiện đầy đủ Tùy theo nhu cầu của khách hàng</p>
        </div>
    </div>
</div>

<div class="top-news" style="height: 145px;">
    <div class="top-item">
        <h2 class="text-left"><a href="/content/view?cat=1&id=1">Diamond Island căn hộ đẳng cấp </a></h2>
        <div class="top-img">
            <a href="/content/view?cat=1&id=1"><img src="${params/siteUrl}/images/upload/3088081.jpg" alt=""/></a>
        </div>
        <div class="top-info">
            <h3> Đăng bởi admin lúc 18-12-2014</h3>
            <p>Giao nhà thô hoặc giao nhà hoàn thiện cơ bản hoặc giao nhà hoàn thiện đầy đủ Tùy theo nhu cầu của khách hàng</p>
        </div>
    </div>
</div>

<div class="top-news" style="height: 145px;">
    <div class="top-item">
        <h2 class="text-left"><a href="/content/view?cat=1&id=1">Diamond Island căn hộ đẳng cấp </a></h2>
        <div class="top-img">
            <a href="/content/view?cat=1&id=1"><img src="${params/siteUrl}/images/upload/3088081.jpg" alt=""/></a>
        </div>
        <div class="top-info">
            <h3> Đăng bởi admin lúc 18-12-2014</h3>
            <p>Giao nhà thô hoặc giao nhà hoàn thiện cơ bản hoặc giao nhà hoàn thiện đầy đủ Tùy theo nhu cầu của khách hàng</p>
        </div>
    </div>
</div>

<div class="top-news" style="height: 145px;">
    <div class="top-item">
        <h2 class="text-left"><a href="/content/view?cat=1&id=1">Diamond Island căn hộ đẳng cấp </a></h2>
        <div class="top-img">
            <a href="/content/view?cat=1&id=1"><img src="${params/siteUrl}/images/upload/3088081.jpg" alt=""/></a>
        </div>
        <div class="top-info">
            <h3> Đăng bởi admin lúc 18-12-2014</h3>
            <p>Giao nhà thô hoặc giao nhà hoàn thiện cơ bản hoặc giao nhà hoàn thiện đầy đủ Tùy theo nhu cầu của khách hàng</p>
        </div>
    </div>
</div>

<div class="top-news" style="height: 145px;">
    <div class="top-item">
        <h2 class="text-left"><a href="/content/view?cat=1&id=1">Diamond Island căn hộ đẳng cấp </a></h2>
        <div class="top-img">
            <a href="/content/view?cat=1&id=1"><img src="${params/siteUrl}/images/upload/3088081.jpg" alt=""/></a>
        </div>
        <div class="top-info">
            <h3> Đăng bởi admin lúc 18-12-2014</h3>
            <p>Giao nhà thô hoặc giao nhà hoàn thiện cơ bản hoặc giao nhà hoàn thiện đầy đủ Tùy theo nhu cầu của khách hàng</p>
        </div>
    </div>
</div>

<div class="top-news" style="height: 145px;">
    <div class="top-item">
        <h2 class="text-left"><a href="/content/view?cat=1&id=1">Diamond Island căn hộ đẳng cấp </a></h2>
        <div class="top-img">
            <a href="/content/view?cat=1&id=1"><img src="${params/siteUrl}/images/upload/3088081.jpg" alt=""/></a>
        </div>
        <div class="top-info">
            <h3> Đăng bởi admin lúc 18-12-2014</h3>
            <p>Giao nhà thô hoặc giao nhà hoàn thiện cơ bản hoặc giao nhà hoàn thiện đầy đủ Tùy theo nhu cầu của khách hàng</p>
        </div>
    </div>
</div>

<div class="top-news" style="height: 145px;">
    <div class="top-item">
        <h2 class="text-left"><a href="/content/view?cat=1&id=1">Diamond Island căn hộ đẳng cấp </a></h2>
        <div class="top-img">
            <a href="/content/view?cat=1&id=1"><img src="${params/siteUrl}/images/upload/3088081.jpg" alt=""/></a>
        </div>
        <div class="top-info">
            <h3> Đăng bởi admin lúc 18-12-2014</h3>
            <p>Giao nhà thô hoặc giao nhà hoàn thiện cơ bản hoặc giao nhà hoàn thiện đầy đủ Tùy theo nhu cầu của khách hàng</p>
        </div>
    </div>
</div>

<div class="top-news" style="height: 145px;">
    <div class="top-item">
        <h2 class="text-left"><a href="/content/view?cat=1&id=1">Diamond Island căn hộ đẳng cấp </a></h2>
        <div class="top-img">
            <a href="/content/view?cat=1&id=1"><img src="${params/siteUrl}/images/upload/3088081.jpg" alt=""/></a>
        </div>
        <div class="top-info">
            <h3> Đăng bởi admin lúc 18-12-2014</h3>
            <p>Giao nhà thô hoặc giao nhà hoàn thiện cơ bản hoặc giao nhà hoàn thiện đầy đủ Tùy theo nhu cầu của khách hàng</p>
        </div>
    </div>
</div>

<div class="top-news" style="height: 145px;">
    <div class="top-item">
        <h2 class="text-left"><a href="content/view?cat=1&id=1">Diamond Island căn hộ đẳng cấp </a></h2>
        <div class="top-img">
            <a href="/content/view?cat=1&id=1"><img src="${params/siteUrl}/images/upload/3088081.jpg" alt=""/></a>
        </div>
        <div class="top-info">
            <h3> Đăng bởi admin lúc 18-12-2014</h3>
            <p>Giao nhà thô hoặc giao nhà hoàn thiện cơ bản hoặc giao nhà hoàn thiện đầy đủ Tùy theo nhu cầu của khách hàng</p>
        </div>
    </div>
</div>

