<div class="news-mess row">
    <h2 class="home-title" style="margin-left: 25px;">Diamond Island căn hộ đẳng cấp với thiết kế sang trọng bậc nhất Quận 2</h2>
    <div class="news-mess-header">
        <div class="news-mess-img">
            <a href="content/view"><img src="${params/siteUrl}/images/upload/3088081.jpg" alt=""/></a>
        </div>
        <div class="news-mess-info">
            <h4>Vị trí: Quận 2 - Hồ Chí Minh</h4>
            <h4>Giá: <span>1.3 tỷ/m2</span></h4>
            <h4>Diện tích: <span>100 m2</span></h4>
            <h4>Diện tích sữ dụng: <span>100 m2</span></h4>
            <h4>Ngày đăng: 18-12-2014</h4>
        </div>
    </div>
</div>

<div class="news-mess-detail">
    <h2 class="home-title" style="margin-left: 10px; text-transform: uppercase;">Mô tả chi tiết</h2>
    <p>*** Vị trí có vị thế đắc đại về phong thủy được ví như Ngọc trong miệng rồng – Hứng đón những tinh hoa của thiên hiên và trời đất, Những ai sống ở khu đất có vị thế tốt này quanh năm luôn được may mắn, phát tài phát lộc, thinh vượng, an nhàn.<br/><br/>*** Được bao bọc bởi 4 bề sông nước, khí và thủy luôn lưu thông để tái tạo năng lượng mới cho dự án.<br/>Phong thủy hưng vượng với dáng đất “Thanh long thụ châu”.<br/><br/>*** Sở hữu vị trí đắc địa bậc nhất Thành phố Hồ Chí Minh được bao quanh bởi sông Sài Gòn và sông Giồng Ông Tố cùng dải xanh rừng phòng hộ trước mặt, mở ra một không gian trong lành và khoáng đạt.<br/>- Hiện tại căn hộ Đảo Kim Cương, Quận 2, Chủ Đầu Tư đang mở bán đợt cuối với nhiều ưu đãi lớn và chiếc khấu cao.<br/><br/>Diện tích:<br/>--- Căn hộ 1PN - diện tích: 82m2.<br/>--- Căn hộ 2PN - diện tích: Từ 96m2 - 107m2 -125m2.<br/>--- Căn hộ 3PN --- diện tích: Từ 132m2 - 165m2 --- 180m2 - 220m2 - 250m2.<br/>*** Gía dao động từ 42,6 triệu/m2 đến 70 triệu/m2.</p>
    <p>Chiết khấu lên đến 10%.<br/>. Giá bán tùy thuộc vào số tầng và view.<br/>- Giao nhà hoàn thiện đầy đủ với trang thiết bị cao cấp nhập khẩu từ Germany.<br/>- Tiện ích toàn cao cấp giành cho giới thương lưu.<br/>- Hệ thống bảo vệ 24/24 (5 lớp bảo vệ, đảm bảo an ninh tuyệt đối).<br/>- Thanh toán Linh hoạt trong 24 tháng.</p>
    <h2 class="home-title" style="margin-left: 10px; text-transform: uppercase;">Thông tin liên hệ</h2>
    <table class="table table-bordered" style="margin-left: 10px;">
        <tbody>
            <tr>
                <td>Người liên hệ:</td>
                <td>Mr.Quang</td>
            </tr>
            <tr>
                <td>Email:</td>
                <td>quangenverland@gmail.com</td>
            </tr>
            <tr>
                <td>Điện thoại:</td>
                <td>0909 279 949</td>
            </tr>
            <tr>
                <td>Địa chỉ:</td>
                <td>168 xô viết nghệ tĩnh, phường 23, quận Bình Thạnh</td>
            </tr>
        </tbody>
    </table>
</div>