<tal:block tal:condition="php: item NE null">
    <div class="news-mess row">
        <h2 class="home-title" style="margin-left: 25px;">${item/title}</h2>
        <div class="news-mess-header">
            <div class="news-mess-img">
                <a href="content/view"><img src="${item/thumbnail}" alt=""/></a>
            </div>
            <div class="news-mess-info">
                <h4>Vị trí: ${item/location|''}</h4>
                <h4>Giá: <span>${item/price|''}</span></h4>
                <h4>Diện tích: <span>${item/square|''}</span></h4>
                <h4>Diện tích sữ dụng: <span>${item/use_square|''}</span></h4>
                <h4>Ngày đăng: ${item/created|''}</h4>
            </div>
        </div>
    </div>

    <div class="news-mess-detail">
        <h2 class="home-title" style="margin-left: 10px; text-transform: uppercase;">Mô tả chi tiết</h2>

        <tal:block tal:content="structure item/detail"/>

        <h2 class="home-title" style="margin-left: 10px; text-transform: uppercase;">Thông tin liên hệ</h2>
        <table class="table table-bordered" style="margin-left: 10px;">
            <tbody>
                <tr>
                    <td>Người liên hệ:</td>
                    <td>${user/name|''}</td>
                </tr>
                <tr>
                    <td>Email:</td>
                    <td>${user/email|''}</td>
                </tr>
                <tr>
                    <td>Điện thoại:</td>
                    <td tal:content="php: '0'.number_format(user['phone'],0,'',' ')"></td>
                </tr>
                <tr>
                    <td>Địa chỉ:</td>
                    <td>${user/address|''}</td>
                </tr>
            </tbody>
        </table>
    </div>
</tal:block>